.Rproj.user
.Rhistory
.RData
*.DS_Store
inputs/*
MERGED_DATA_REDUCED.csv
admitcats.csv
allout.csv
blsvarsforchoice.csv
byAdmit.csv
byAdmit2.csv
byAttend.csv
byAttend2.csv
clogit.saved2
dataset.RData
finAid.RData
finaid.csv
finaidind.csv
finalmodels2.RData
fun_checkPredictionAbilityAttendOnly2.R
fun_fillMiss2.R
incomes.RData
longdataout.csv
mclogit.saved2
merginginfo.csv
personaldata.csv
pivottable.csv
predictvars.csv
regress-averages.RData
regression-income.RData
satplotin.csv
save.RData
stage1input.saved2
test.csv
ycocdli.csv